In [1]:
import pandas as pd 

rock_samples = pd.read_csv('data/rocksamples.csv')

In [2]:
rock_samples.head()

      ID   Mission    Type   Subtype  Weight(g)  Pristine(%)
0  10001  Apollo11    Soil  Unsieved      125.8        88.36
1  10002  Apollo11    Soil  Unsieved     5629.0        93.73
2  10003  Apollo11  Basalt  Ilmenite      213.0        65.56
3  10004  Apollo11    Core  Unsieved       44.8        71.76
4  10005  Apollo11    Core  Unsieved       53.4        40.31

In [3]:
rock_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
ID             2229 non-null int64
Mission        2229 non-null object
Type           2229 non-null object
Subtype        2226 non-null object
Weight(g)      2229 non-null float64
Pristine(%)    2229 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB